/* === CSS RESET === */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
svg {
  display: block;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* === VARIABLES === */
:root {
  /* COLORS */
  --color-brightorange: hsl(31, 77%, 52%);
  --color-darkcyan: hsl(184, 100%, 22%);
  --color-verydarkcyan: hsl(179, 100%, 13%);
  --color-transparentwhite: hsla(0, 0%, 100%, 0.75);
  --color-verylightgray: hsl(0, 0%, 95%);
  /* FONTS */
  --fontfamily-lexenddeca: "Lexend Deca", sans-serif;
  --fontfamily-bigshouldersdisplay: "Big Shoulders Display", sans-serif;
  --fontweight-regular: 400;
  --fontweight-bold: 700;
}

/* === GENERAL STYLES === */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.card-container {
  width: 350px;
  height: auto;
  border: 2px solid black;
  padding: 3.2rem;
}

.card-img {
}

.card-header {
  color: var(--color-verylightgray);
  font-family: var(--fontfamily-bigshouldersdisplay);
  font-weight: var(--fontweight-bold);
}

.card-sedan {
  background-color: var(--color-brightorange);
}

.card-suv {
  background-color: var(--color-darkcyan);
}

.card-luxury {
  background-color: var(--color-verydarkcyan);
}

.card-luxury .attribution {
  font-size: 1.1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
