/* === CSS RESET === */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
svg {
  display: block;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* === VARIABLES === */
:root {
  /* COLORS */
  --color-brightorange: hsl(31, 77%, 52%);
  --color-darkcyan: hsl(184, 100%, 22%);
  --color-verydarkcyan: hsl(179, 100%, 13%);
  --color-transparentwhite: hsla(0, 0%, 100%, 0.75);
  --color-verylightgray: hsl(0, 0%, 95%);
  /* FONTS */
  --fontfamily-lexenddeca: "Lexend Deca", sans-serif;
  --fontfamily-bigshouldersdisplay: "Big Shoulders Display", sans-serif;
  --fontweight-regular: 400;
  --fontweight-bold: 700;
}

/* === GENERAL STYLES === */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.card-container {
  width: 350px;
  height: auto;
  padding: 5rem;
}

.card-header {
  color: var(--color-verylightgray);
  font-family: var(--fontfamily-bigshouldersdisplay);
  font-weight: var(--fontweight-bold);
  font-size: 3.2rem;
  padding: 3rem 0 2rem 0;
}

.card-sedan {
  background-color: var(--color-brightorange);
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
}

.card-suv {
  background-color: var(--color-darkcyan);
}

.card-luxury {
  background-color: var(--color-verydarkcyan);
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}

.card-description,
.card-button {
  font-family: var(--fontfamily-lexenddeca);
  font-weight: var(--fontweight-regular);
}

.card-description {
  color: var(--color-transparentwhite);
  line-height: 2.4rem;
  padding-bottom: 3.2rem;
  /* border: 2px solid black; */
}

.card-button {
  width: 60%;
  padding: 1.2rem;
  border-radius: 5rem;
  border: var(--color-transparentwhite);
  border: 2px solid var(--color-transparentwhite);
}

.card-button:hover {
  cursor: pointer;
}

.card-sedan .card-button {
  color: var(--color-brightorange);
  transition: 0.2s ease-in-out;
}

.card-suv .card-button {
  color: var(--color-darkcyan);
  transition: 0.2s ease-in-out;
}

.card-luxury .card-button {
  column-rule: var(--color-verydarkcyan);
  transition: 0.2s ease-in-out;
}

.card-sedan .card-button:hover {
  color: var(--color-transparentwhite);
  background-color: var(--color-brightorange);
  transition: 0.2s ease-in-out;
}

.card-suv .card-button:hover {
  color: var(--color-transparentwhite);
  background-color: var(--color-darkcyan);
  transition: 0.2s ease-in-out;
}
.card-luxury .card-button:hover {
  color: var(--color-transparentwhite);
  background-color: var(--color-);
  transition: 0.2s ease-in-out;
}

.attribution {
  font-size: 1.2rem;
  text-align: center;
  padding-top: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 375px) {
  .cards {
    display: flex;
  }

  .card-header {
    font-size: 4rem;
  }

  .card-sedan {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.5rem;
  }

  .card-luxury {
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.5rem;
  }

  .card-description {
    padding-bottom: 10rem;
  }
}
